@charset "utf-8";
a{
    text-decoration: none;
}
header{
    margin-left:25%;
    margin-right:25%;
    text-align:right;
    width:808px;
}
.register_villain{
    color:#FF3A1A;
    padding-right:10px;
}
#headerButton{
    color:black;
}
.title{
    color:#FF3A1A;
    font-size:40px;
    padding-top:20px;
    padding-bottom:20px;
    text-align:left;
}
.title>a{
    color:#FF3A1A;
}
.highlight{
    color:#FF3A1A;
}
.detail{
    width:800px;
    height:400px;
    padding-top:0;
}
.submit{
    width:808px;
    height:100px;
    text-align: center;
}
.main{
    margin-left:25%;
    margin-right:25%;
    width:808px;
    height:600px;
    line-height:30px;
}
.bomb{
    position: absolute;
    right:0px;
}
#VillainBlock{
    display:inline-block;
    border-width:1px;
}
#VillainBlock>a{
    display:inline-block;
    text-decoration: none;
}
.originalBlock{
    display:block;
}
.searchBlock{
    display:none;
}
.searchText{
    width:500px;
}