{% extends 'villains/base.html' %}
{% block content %}

    <div class="main">
        <form action="" method="get">
            <select name="searchType">
              <option value="name">빌런 이름</option>
              <option value="univ">학교</option>
              <option value="major">전공</option>
              <option value="class_name">수업명</option>
              <option value="content">내용</option>
            </select>
            <input type="text" name="searchText" value="{{ inputText }}">
            <input type="submit" value="검색">
          </form>
      {% for villain in villainList %}
        <div class = "villainBlock">
        <a href="{% url 'villain_detail' pk=villain.pk %}">
          <h1>빌런 이름 : {{villain.villain_name}}</h1>
          <h3>대학:{{villain.univ}}</h3>
          <h3>전공:{{villain.major}}</h3>
          <h3>수업명:{{villain.class_name}}</h3>
          <h3>bomb:{{villain.bomb}}</h3>
        </a>
      </div><br>
      {% endfor %}
    </div>

{% endblock %}
