{% extends 'villains/base.html' %}
{% block content %}

    <div class="main">
      {% for villain in villainList %}
        <div class = "villainBlock">
          {% if user.is_active %}
            <a href="{% url 'villain_detail' pk=villain.pk %}">
          {% else %}
            <a href="{% url 'login' %}">
          {% endif %}


          <h1>빌런 이름 : {{villain.villain_name}}</h1>
          <h3>대학:{{villain.univ}}</h3>
          <h3>전공:{{villain.major}}</h3>
          <h3>수업명:{{villain.class_name}}</h3>
          <h3>bomb:{{villain.bomb}}</h3>
        </a>
      </div><br>
      {% endfor %}
    </div>

{% endblock %}
