@charset "utf-8";
/* @import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css); */

body{
    /* font-family: 'Nanum Barun Gothic', sans-serif; */
    margin : 0;
}

.blackbox{
  background: #000000;
  margin-top: -10px;
  height: 150px;
  width: 100vw;
}

header{
    padding-top: 10px;
}

.header-menu{
  #color: #ffffff;
}

header a{
  color: #ffffff;
}

.main{
    margin-left:auto;
    margin-right:auto;
    width:808px;
    height:auto;
    line-height:30px;
}

a{
    text-decoration: none;
}

header{
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    width:808px;
    color:#FFFFFF;
}

.register_villain{
    color:#FF3A1A;
    padding-right:10px;
}


#headerButton{
    color:black;
}

.title{
    margin-left:-10px;
    padding-top:60px;
    padding-bottom:30px;
    text-align:left;
}

.logoImage{
    width:150px;
    height:auto;
}

.highlight{
    color:#FF3A1A;
}

.detail{
    width:800px;
    height:400px;
    padding-top:0;
}
.submit{
    width:808px;
    height:100px;
    text-align: center;
}

.bomb{
    position: absolute;
    right:0px;
}

footer{
    /* position:absolute; */
    margin-top: 150px;
    bottom:0px;
    width:100%;
    text-align: center;
    background-color: #EDEDED;
    height:150px;
    line-height: 100px;
    font-size: 0.7em;
}
footer>span{
    color:#FF3A1A;
}

@media(max-width:810px){
    header{
        width:96vw;
    }
    .main{
        width:98vw;
    }
    .title{
        margin-left:0;
    }
}
