@charset "utf-8";

#ListBlock{
    margin-left:-5px;
    margin-right:-5px;
}
.villainBlock{
    border-radius: 3px;
    display:inline-block;
    position: relative;
    width:260px;
    height: 200px;
    margin:2.5px 1px 2.5px 1px;
    font-size:15px;
    background-color: #CFCFCF;
}

.villainBlock>a{
    display: block;
    color: #606060;
    width:100%;
    height:100%;
}

.originalBlock{
    display:block;
}

.searchBlock{
    display:none;
}


.input-background{
  background: #000000;
  height: 100px;
}

.inputBox{
    width: 800px;
    padding-bottom:40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.searchText{
    outline: none !important;
    border:1px solid #909090;

    width:680px;
    height:50px;
    background-image : url('../image/magnifier.png');
    background-position:right;
    background-repeat:no-repeat;
    background-size:40px;
    font-size:15px;
    padding-left:15px;
}

.searchText:focus{
  outline: none !important;
  border:1px solid #e7471e;

  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
}

select{
    width:100px;
    height:50px;
    font-size:15px;
    margin-right:4px;
}

.villainName{
    display: inline-block;
    position:absolute;
    bottom:8px;
    left:12px;
    font-size:22px;
}

.villainBomb{
    display: inline-block;
    position: absolute;
    bottom:8px;
    right: 12px;
}

.villainClass{
    position: absolute;
    top:5px;
    right:10px;
    text-align: right;
}

@media(max-width:810px){
    .inputBox{
        width:100%;
    }
    .searchText{
        width:74vw;
    }
    select{
        width:15vw;
        margin-right:2vw;
        margin-left:2.5vw;
    }
    .villainBlock{
        width:45vw;
        margin: 0.5vw 1.5vw 0.5vw 1.5vw;
    }
    .ListBlock{
        font-size:0px;
    }
}
