@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

body{
  background: #f1f1f1;
  font-family: 'Nanum Barun Gothic', sans-serif;
}

.login-box {
  width: 650px;
  margin: auto;
  margin-top: 10vh;
}

.login-title {
  width: 650px;
  height: 80px;
  display: block;
}

.horizontal-allign {
  display: block;
}

.horizon-1 {
  display: inline-block;
}

.inputbox1 {
  color: #837e7c;
  font-size: 2ex;
  padding: 20px;
  width: 500px;
  height: 70px;
  background: white;
  border: none;
  display: block;
  transition-duration: 0.5s;
}

.inputbox2 {
  color: #837e7c;
  font-size: 2ex;
  padding: 20px;
  width: 500px;
  height: 70px;
  background: white;
  margin-top: 15px;
  border: none;
  display: block;
  transition-duration: 0.5s;
}

*:focus {
    outline: none;
}

.inputbox1:focus {
    outline: none !important;
    border:1px solid #e7471e;
}

.inputbox2:focus {
    outline: none !important;
    border:1px solid #e7471e;
}



.horizon-2 {
  vertical-align: top;
  margin-left: 10px;
  display: inline-block;
}

.login-button {
  height: 155px;
  width: 120px;
  border: 1px solid #e7471e;
  background: #f1f1f1;
  color: #e7471e;
  transition-duration: 0.5s;
}

.login-button:hover{
  background: #e7471e;
  color: #ffffff;
}

.join-container {
  margin-top: 30px;
  display: block;
}

a {
  text-decoration: none;
  color: #e7471e;
}

footer{
    font-size: 0.7em;
    position: absolute;
    bottom:0px;
    width:100%;
    text-align: center;
    /* background-color: #EDEDED; */
    height:100px;
    line-height: 100px;
    margin-top:50px;
}
footer>span{
    color:#FF3A1A;
}
