@charset "utf-8";

.register-highlight{
    color:#FF3A1A;
    font-size: 18px;
}

.register-main{
  margin-left:auto;
  margin-right:auto;
  width:800px;
  height:auto;
  line-height:30px;
  margin-top: 15px;
}

.register-input-box{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.register-input-box2{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}



.register-input-box > p3 {
  margin-right: 10px;
}

.register-input-box > input{
  border: 1px solid #d8d8d8;
   border-radius: 3px;
  font-size: 15px;
  padding: 6px;
  height: 40px;
}


.register-input-box > input:focus {
    outline: none !important;
    border:1px solid #e7471e;

    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.register-input-box2-horizontal{
  display: inline-block;
  margin-bottom: 15px;
  width: 10%;
}

.register-bombset {
  display: inline-block;
  width: 89%;
  text-align: right;
}

.register-bombset > img {
  display: inline;
  width: 30px;
  height: auto;
}

hr {
  border-width:  1px 0px 0px 0px;
  height: 1px;
  border-style: solid;
  border-color:  #e5e4e4;
}

#register-input-name {
  width: 100px;
  margin-right: 30px;

}

#register-input-univ {
  width: 110px;
}

#register-input-major {
  width: 160px;
  margin-right: 30px;
}

#register-input-classname {
  width: 180px;
}

#register-textarea {
  padding: 10px;
  /* line-height: 30px; */
  height: 300px;
  border-radius: 3px;
}

#register-textarea:focus {
  outline: none !important;
  border:1px solid #e7471e;

  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
}

#register-submit{
  border-radius: 4px;
  margin-top: 20px;
  font-size: 20px;
  height: 70px;
  width: 800px;
  border: 1px solid #e7471e;
  background: #ffffff;
  color: #e7471e;
  transition-duration: 0.5s;
}

#register-submit:hover{
  background:#e7471e;
  font-size: 20px;
  color: #ffffff;
}

#hide-bomb-input{
  display: none;
}
