@charset "utf-8";
.detailHeader{
    display:inline-block;
    position:relative;
    width:100%;
    color:#616161;
    padding-top:20px;
}
.detail_img{
    width:100%;
    height:350px;
    background-color:#CFCFCF;
}

.detailName{
    display: inline-block;
    color:black;
    font-size:35px;
    padding-right:20px;
}
.detailPosition{
    display:inline-block;
    line-height:1.3em;
}
.detailBomb{
    display:inline-block;
    position:absolute;
    right:0;
    bottom:0;
}

#orange_hr{
    border-width:  1px 0px 0px 0px;
    height: 1px;
    border-style: solid;
    border-color:red;
    margin-bottom: 30px;
}
.detailButtons{
    display:inline-block;
    width:95px;
    padding-right:15px;
    height:200px;
}
.detailContent{
    display:inline-block;
    position: relative;
    vertical-align: top;
    width:690px;
    height:200px;
}
.agree{
    width:95px;
    height:25px;
    line-height: 25px;
    border-width:1px;
    border-color:#f0532d;
    border-radius:5px;
    border-style: solid;
    text-align: center;
    font-size:12px;
    cursor: pointer;
}
.protest{
    margin-top:5px;
    width:95px;
    height:25px;
    line-height: 25px;
    border-width:1px;
    border-color:#E6E6DF;
    border-radius:5px;
    border-style: solid;
    text-align: center;
    font-size:12px;
    cursor: pointer;
}
.detailInfo{
    display:inline-block;
}
.detailBomb img{
  width: 30px;
  height: auto;
}

.detailFooter{
    position: relative;
    width:690px;
    padding-left:110px;
    color:#CFCFCF;
    font-size:15px;
}
.detailFooterButton{
    position: absolute;
    right:0px;
    width:70px;
    display: inline-block;
    text-align: right;
}
.detailFooterButton > a{
    text-decoration: none;
    color:#CFCFCF;
}

@media screen and (max-width:808px){
    .detailButtons{
        position:relative;
        width:100%;
        height:50px;
        padding-right:0px;
    }
    .detailHeader{
        height:90px;
    }
    .detailBomb{

    }
    .agree{
        position:absolute;
        width:100px;
        right:106px;
    }
    .protest{
        position: absolute;
        width:100px;
        right:0px;
        margin-top:0px;
    }
    .detailContent{
        width:100%;
    }
    .detailFooter{
        width:100%;
        padding-left:0px;
    }
    .detailInfo{
        width:100%;
    }
    .detailFooterButton{
        width:100%;
    }
}
@media screen and (max-width:600px){

}